<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foreseers.tj.mapper.UserLookHistoryMapper">
  <resultMap id="BaseResultMap" type="com.foreseers.tj.model.UserLookHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="lookid" jdbcType="INTEGER" property="lookid" />
    <result column="looktime" jdbcType="VARCHAR" property="looktime" />
    <result column="lookupdated" jdbcType="TIMESTAMP" property="lookupdated" />
    <result column="spare" jdbcType="VARCHAR" property="spare" />
    <result column="spareint" jdbcType="INTEGER" property="spareint" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userid, lookid, looktime, lookupdated, spare, spareint
  </sql>
  <select id="selectByExample" parameterType="com.foreseers.tj.model.UserLookHistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_look_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_look_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserLookHistory" parameterType="com.foreseers.tj.model.UserLookHistory" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_look_history
    where userid = #{userid,jdbcType=INTEGER} and lookid = #{lookid,jdbcType=INTEGER}
  </select>
  
    <select id="selectByUserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_look_history
    where lookid = #{lookid,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_look_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.foreseers.tj.model.UserLookHistoryExample">
    delete from user_look_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.foreseers.tj.model.UserLookHistory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_look_history (userid, lookid, looktime, 
      lookupdated, spare, spareint
      )
    values (#{userid,jdbcType=INTEGER}, #{lookid,jdbcType=INTEGER}, #{looktime,jdbcType=VARCHAR}, 
      #{lookupdated,jdbcType=TIMESTAMP}, #{spare,jdbcType=VARCHAR}, #{spareint,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.foreseers.tj.model.UserLookHistory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_look_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="lookid != null">
        lookid,
      </if>
      <if test="looktime != null">
        looktime,
      </if>
      <if test="lookupdated != null">
        lookupdated,
      </if>
      <if test="spare != null">
        spare,
      </if>
      <if test="spareint != null">
        spareint,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="lookid != null">
        #{lookid,jdbcType=INTEGER},
      </if>
      <if test="looktime != null">
        #{looktime,jdbcType=VARCHAR},
      </if>
      <if test="lookupdated != null">
        #{lookupdated,jdbcType=TIMESTAMP},
      </if>
      <if test="spare != null">
        #{spare,jdbcType=VARCHAR},
      </if>
      <if test="spareint != null">
        #{spareint,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.foreseers.tj.model.UserLookHistoryExample" resultType="java.lang.Long">
    select count(*) from user_look_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_look_history
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.lookid != null">
        lookid = #{record.lookid,jdbcType=INTEGER},
      </if>
      <if test="record.looktime != null">
        looktime = #{record.looktime,jdbcType=VARCHAR},
      </if>
      <if test="record.lookupdated != null">
        lookupdated = #{record.lookupdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spare != null">
        spare = #{record.spare,jdbcType=VARCHAR},
      </if>
      <if test="record.spareint != null">
        spareint = #{record.spareint,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_look_history
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      lookid = #{record.lookid,jdbcType=INTEGER},
      looktime = #{record.looktime,jdbcType=VARCHAR},
      lookupdated = #{record.lookupdated,jdbcType=TIMESTAMP},
      spare = #{record.spare,jdbcType=VARCHAR},
      spareint = #{record.spareint,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.foreseers.tj.model.UserLookHistory">
    update user_look_history
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="lookid != null">
        lookid = #{lookid,jdbcType=INTEGER},
      </if>
      <if test="looktime != null">
        looktime = #{looktime,jdbcType=VARCHAR},
      </if>
      <if test="lookupdated != null">
        lookupdated = #{lookupdated,jdbcType=TIMESTAMP},
      </if>
      <if test="spare != null">
        spare = #{spare,jdbcType=VARCHAR},
      </if>
      <if test="spareint != null">
        spareint = #{spareint,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foreseers.tj.model.UserLookHistory">
    update user_look_history
    set userid = #{userid,jdbcType=INTEGER},
      lookid = #{lookid,jdbcType=INTEGER},
      looktime = #{looktime,jdbcType=VARCHAR},
      lookupdated = #{lookupdated,jdbcType=TIMESTAMP},
      spare = #{spare,jdbcType=VARCHAR},
      spareint = #{spareint,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>