<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foreseers.tj.mapper.UserCanumsMapper">
  <resultMap id="BaseResultMap" type="com.foreseers.tj.model.UserCanums">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="everyday" jdbcType="INTEGER" property="everyday" />
    <result column="vipeveryday" jdbcType="INTEGER" property="vipeveryday" />
    <result column="nums" jdbcType="INTEGER" property="nums" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="spare" jdbcType="VARCHAR" property="spare" />
    <result column="spare1" jdbcType="VARCHAR" property="spare1" />
    <result column="spareint" jdbcType="INTEGER" property="spareint" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userid, everyday, vipeveryday, nums, updated, spare, spare1, spareint
  </sql>
  <select id="selectByExample" parameterType="com.foreseers.tj.model.UserCanumsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_canums
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_canums
    where id = #{id,jdbcType=INTEGER}
  </select>
 
  <select id="selectUserNums" parameterType="com.foreseers.tj.model.UserCanums" resultType="java.lang.Integer">
    select 
   		id
    from user_canums
    where everyday = #{everyday,jdbcType=INTEGER} or vipeveryday = #{vipeveryday,jdbcType=INTEGER}
  </select>
   
  <select id="selectByUserKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_canums
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  
   
  <update id="updateUserNums" parameterType="java.util.List">
  	update user_canums
  	 set everyday = 0 , vipeveryday = 0, nums = 0
  	 where 
  	  id in 
  	  <foreach collection="list" item="item" index="index" open="(" separator=","  close=")">
  	  #{item}
  	  </foreach>
  </update>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_canums
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.foreseers.tj.model.UserCanumsExample">
    delete from user_canums
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.foreseers.tj.model.UserCanums">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_canums (userid, everyday, vipeveryday, 
      nums, updated, spare, 
      spare1, spareint)
    values (#{userid,jdbcType=INTEGER}, #{everyday,jdbcType=INTEGER}, #{vipeveryday,jdbcType=INTEGER}, 
      #{nums,jdbcType=INTEGER}, #{updated,jdbcType=TIMESTAMP}, #{spare,jdbcType=VARCHAR}, 
      #{spare1,jdbcType=VARCHAR}, #{spareint,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.foreseers.tj.model.UserCanums">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_canums
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="everyday != null">
        everyday,
      </if>
      <if test="vipeveryday != null">
        vipeveryday,
      </if>
      <if test="nums != null">
        nums,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="spare != null">
        spare,
      </if>
      <if test="spare1 != null">
        spare1,
      </if>
      <if test="spareint != null">
        spareint,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="everyday != null">
        #{everyday,jdbcType=INTEGER},
      </if>
      <if test="vipeveryday != null">
        #{vipeveryday,jdbcType=INTEGER},
      </if>
      <if test="nums != null">
        #{nums,jdbcType=INTEGER},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="spare != null">
        #{spare,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null">
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spareint != null">
        #{spareint,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.foreseers.tj.model.UserCanumsExample" resultType="java.lang.Long">
    select count(*) from user_canums
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_canums
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.everyday != null">
        everyday = #{record.everyday,jdbcType=INTEGER},
      </if>
      <if test="record.vipeveryday != null">
        vipeveryday = #{record.vipeveryday,jdbcType=INTEGER},
      </if>
      <if test="record.nums != null">
        nums = #{record.nums,jdbcType=INTEGER},
      </if>
      <if test="record.updated != null">
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spare != null">
        spare = #{record.spare,jdbcType=VARCHAR},
      </if>
      <if test="record.spare1 != null">
        spare1 = #{record.spare1,jdbcType=VARCHAR},
      </if>
      <if test="record.spareint != null">
        spareint = #{record.spareint,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_canums
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      everyday = #{record.everyday,jdbcType=INTEGER},
      vipeveryday = #{record.vipeveryday,jdbcType=INTEGER},
      nums = #{record.nums,jdbcType=INTEGER},
      updated = #{record.updated,jdbcType=TIMESTAMP},
      spare = #{record.spare,jdbcType=VARCHAR},
      spare1 = #{record.spare1,jdbcType=VARCHAR},
      spareint = #{record.spareint,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.foreseers.tj.model.UserCanums">
    update user_canums
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="everyday != null">
        everyday = #{everyday,jdbcType=INTEGER},
      </if>
      <if test="vipeveryday != null">
        vipeveryday = #{vipeveryday,jdbcType=INTEGER},
      </if>
      <if test="nums != null">
        nums = #{nums,jdbcType=INTEGER},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="spare != null">
        spare = #{spare,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null">
        spare1 = #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spareint != null">
        spareint = #{spareint,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foreseers.tj.model.UserCanums">
    update user_canums
    set userid = #{userid,jdbcType=INTEGER},
      everyday = #{everyday,jdbcType=INTEGER},
      vipeveryday = #{vipeveryday,jdbcType=INTEGER},
      nums = #{nums,jdbcType=INTEGER},
      updated = #{updated,jdbcType=TIMESTAMP},
      spare = #{spare,jdbcType=VARCHAR},
      spare1 = #{spare1,jdbcType=VARCHAR},
      spareint = #{spareint,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>